.tab {
    height: 34px;
    border: 1px solid #fff;
    background: #fff;
    margin: 0;
    padding: 5px 15px 6px 15px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
    cursor: pointer;
    opacity: 1;
}

.tab:hover {
    border: 1px solid #1A73E8 !important;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

.tab.active {
    border: 1px solid #1A73E8 !important;
    background: #E3F2FF;
    opacity: 1;
}
