.mobile {
    padding: 0 16px;
    padding-bottom: 1px;
}

.record {
    border-bottom: 1px solid #E8E8EB;
}

@media (max-width: 1024px) { 
    .record {
        border-bottom: 1px solid #91929E;
    }
}
