.task {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.task > div {
    display: flex;
    align-items: center;
    color: rgba(9, 11, 22, 0.94);
}

.duration {
    flex: 0 0 40px;
    align-items: center;
}
